.geolocation-container {
    margin-top: 1em;
    background-color: rgb(159, 166, 172);
    padding: 1em;
    color: aliceblue;
}
.weather-container{
    background-color: rgb(159, 166, 172);
    padding: 1em;
    color: aliceblue;
}

p {
    text-shadow: 1px 1px #6f6a6a;
  }